.nav {
    padding: 10px;
    text-align: center;
    grid-area: n;
    background-color: blanchedalmond;
}

.item {
    color: darkgray;
    text-decoration: none;
}

.active {
    color: darkslategray;
    text-decoration: none;
}
