.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 'd m';
}

.dialogsItem {
    grid-area: d;
    padding: 10px;
}
.messages {
    grid-area: m;
    padding: 10px;
}